<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bkash payment</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-col-3">


                <form>
                    <div class="a">

                        <div class="form-signin">
                            <span id="header">
                                <div>
                                    <div id="logoHolder">
                                        <div id="logo"></div>
                                    </div>

                                    <hr id="itemDiv" class="itemDivider">
                                    <div id="trxLoader" style="display: none;">
                                        <span class="loadingText">Getting payment info.</span>
                                        <span class="loadingText">Please wait...</span>
                                    </div>
                                    <div id="trxInfo">
                                        <div id="merchantLogo"
                                            style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/merchantlogo.sandbox.bka.sh/pgw-default.png');">
                                        </div>
                                        <div class="infoNameInvoice">
                                            <span id="merchantName">TestCheckoutDemoMerchant1</span>
                                            <div class="infoInvoice">
                                                <span class="invoiceText">Invoice:</span>
                                                <span id="merchantInvoice1">14s5eVD1ra9</span>
                                            </div>
                                            <span id="merchantInvoice2"></span>

                                        </div>
                                        <div class="trxMerchantAmount">
                                            <span class="merchantAmount">৳ </span><span
                                                id="merchantAmountVal">{{data.totalAmount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                            <span id="container">
                                <form class="formBody" action="#" method="POST" id="login_form">

                                    <div id="inputHolder">
                                        <span for="pin" class="infoText">Enter PIN of your bKash Account number (<b
                                                id="phone_num">{{getMaskedPhone()}}</b>)</span>
                                        <input type="password" id="otp" name="otp" class="form-control" [(ngModel)]="pin"
                                            placeholder="Enter PIN" autocomplete="off" maxlength="6" required="">

                                        <span *ngIf="!error" class="infoText">By clicking on <b> Confirm,</b> you are
                                            agreeing to the
                                            <b><a href="https://www.bkash.com/terms-of-use-checkout"
                                                    target="_blank">terms
                                                    &amp; conditions</a></b> </span>

                                        <div *ngIf="error" id="error">Invalid PIN</div>
                                    </div>

                                    <div id="loader_div" style="display: none;">
                                        <div id="loader_image"></div>
                                    </div>

                                    <div id="button_div" class="buttonAction">
                                        <button type="button" id="close_button">Close</button>
                                        <button type="submit" id="submit_button" (click)="onConfirm()">
                                            Confirm
                                        </button>

                                    </div>
                                </form>
                            </span>
                            <span id="footer">
                                <div id="footerItem">
                                    <div id="credit">
                                        <div class="dialerItem">
                                            <div id="dialer"></div>
                                        </div>

                                        <b id="dialText">16247</b>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </form>




            </div>
        </div>
    </div>

</body>

</html>